*{
    font-family: 'Rubik', sans-serif;;
}
body {
    
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

.container {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="number"],
input[type="date"],
input[type="text"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button-container {
    text-align: center;
    
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5f80ec;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #4f73e7;
}

.expense-list {
    list-style-type: none;
    padding: 0;
}

.expense-item {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.expense-item p {
    margin: 5px 0;
}

.remaining-budget {
    text-align: center;
    margin-top: 20px;
}

.error-message {
    color: red;
}